@import url('https://fonts.cdnfonts.com/css/star-wars');




.heroes-main {
  /* max-width: 1200px; */
  height: 100vh;
  margin: 0 auto;
  padding: 20px;
  font-family: Arial, sans-serif;
  /* background-color: black; */
  /* background-image: url(https://cdn.wallpapersafari.com/71/53/qJHuW9.jpg); */
  
  background-image: url(https://cdn.wallpapersafari.com/10/42/gw1DYz.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: bottom right; 
  background-size: cover;
  color: white;
}

.members-container {
  width: 70%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 100px;
  margin-top: 20px;
  
  /* border: 3px solid white; */
}

.two-person-container {
  /* border: 3px solid pink; */
  display: flex;
  gap: 100px;
  flex-wrap: wrap;
}

.person-container {
  max-width: 200px;
  height: 200px;
  text-align: center;

  /* border: 3px solid red; */
}

.person-container img {
  width: 100%;
  border-radius: 50%;
}

.person-container strong {
  display: block;
  margin-top: 10px;
  font-size: 18px;
}

.person-container p {
  margin-top: 10px;
  font-size: 16px;
}

.heroes-main h1 {
  font-family: 'Star Wars', sans-serif;
  line-height: 130%;
  letter-spacing: 2px;
}

