@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

.hospital-component {
  border: 10px solid #9D00FF;
  width: 300px;
  height: 200px;
  font-family: 'Montserrat', sans-serif;
  padding: 20px;
  text-align: center;
  border-radius: 10px;
}

.hospital-component a {
 
}
.hospital-component h1 {
  font-size: 20px;
  color: black;
  margin-bottom: 30px;
  text-transform: lowercase;
  /* text-transform: uppercase;
  font-size: 16px;
  letter-spacing: 1px; */
}

.hospital-component h3 {
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 100;
}

.link {
  text-decoration: none;
  
}
.link:hover {
  text-decoration:underline;
  background-color: #bd99d348;
}