#errorElement{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}

#e_button {
    text-decoration: none;
    border: 2px solid gray;
    border-radius: 5px;
    padding: 5px 10px;
    color: black
}

#e_button:hover{
    background-color: gray;
    color: white;
}

#e_message {
    padding: 1rem;
}