@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

#hospital-page-hospital {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  padding: 20px;
}

.invoice-card {
  border: 5px solid #9D00FF;
  margin: 20px;
  padding: 10px;
  width: 350px;
}

.order-container {
  padding: 20px;
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  border: 1px solid #9D00FF;
  border-radius: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.order-container h1 {
  padding: -20px;
}

.order-history {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#hospital-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.order-container input {
  width: 120px;
  height: 20px;
  text-align: center;
}