#loggedinpage {
  /* border: 2px solid black; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 3rem;
}

#hospital-wrapper {
  /* border: 2px solid pink; */
  width: 1200px;
  margin: 50px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
}

#addnewhospital {
  padding-top: 2rem;
}

#addnewhospital, #removehospital {
  margin: 0.5em;
  width: 40vw;
}